/PR.CargoShipping.WinForms/.vs/PR.CargoShipping.WinForms/CopilotIndices/17.14.1290.42047/CodeChunks.db
/PR.CargoShipping.WinForms/.vs/PR.CargoShipping.WinForms/CopilotIndices/17.14.1290.42047/CodeChunks.db-shm
/PR.CargoShipping.WinForms/.vs/PR.CargoShipping.WinForms/CopilotIndices/17.14.1290.42047/CodeChunks.db-wal
/PR.CargoShipping.WinForms/.vs/PR.CargoShipping.WinForms/CopilotIndices/17.14.1290.42047/SemanticSymbols.db
/PR.CargoShipping.WinForms/.vs/PR.CargoShipping.WinForms/CopilotIndices/17.14.1290.42047/SemanticSymbols.db-shm
/PR.CargoShipping.WinForms/.vs/PR.CargoShipping.WinForms/CopilotIndices/17.14.1290.42047/SemanticSymbols.db-wal
/PR.CargoShipping.WinForms/.vs/PR.CargoShipping.WinForms/DesignTimeBuild/.dtbcache.v2
/PR.CargoShipping.WinForms/.vs/PR.CargoShipping.WinForms/FileContentIndex/1fba0683-259a-467c-90bc-84556067273c.vsidx
/PR.CargoShipping.WinForms/.vs/PR.CargoShipping.WinForms/FileContentIndex/3fc5b20c-7160-47e8-95ac-c81d9b4b3259.vsidx
/PR.CargoShipping.WinForms/.vs/PR.CargoShipping.WinForms/FileContentIndex/5a42d77d-7143-472c-8f36-a5d94b6ea914.vsidx
/PR.CargoShipping.WinForms/.vs/PR.CargoShipping.WinForms/FileContentIndex/f0826c28-d626-4fa4-a5ac-61deb44d84ed.vsidx
/PR.CargoShipping.WinForms/.vs/PR.CargoShipping.WinForms/FileContentIndex/f6662203-8df3-4c0c-9520-92a1733b8774.vsidx
/PR.CargoShipping.WinForms/.vs/PR.CargoShipping.WinForms/v17/.futdcache.v2
/PR.CargoShipping.WinForms/.vs/PR.CargoShipping.WinForms/v17/.suo
/PR.CargoShipping.WinForms/.vs/PR.CargoShipping.WinForms/v17/DocumentLayout.backup.json
/PR.CargoShipping.WinForms/.vs/PR.CargoShipping.WinForms/v17/DocumentLayout.json
/PR.CargoShipping.WinForms/.vs/PR.CargoShipping.WinForms/v17/ResourceExplorer/settings.json
/PR.CargoShipping.WinForms/PR.CargoShipping.CoreBusiness/bin/Debug/net9.0/PR.CargoShipping.CoreBusiness.deps.json
/PR.CargoShipping.WinForms/PR.CargoShipping.CoreBusiness/bin/Debug/net9.0/PR.CargoShipping.CoreBusiness.dll
/PR.CargoShipping.WinForms/PR.CargoShipping.CoreBusiness/bin/Debug/net9.0/PR.CargoShipping.CoreBusiness.pdb
/PR.CargoShipping.WinForms/PR.CargoShipping.CoreBusiness/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
/PR.CargoShipping.WinForms/PR.CargoShipping.CoreBusiness/obj/Debug/net9.0/PR.CargoShipping.CoreBusiness.AssemblyInfo.cs
/PR.CargoShipping.WinForms/PR.CargoShipping.CoreBusiness/obj/Debug/net9.0/PR.CargoShipping.CoreBusiness.AssemblyInfoInputs.cache
/PR.CargoShipping.WinForms/PR.CargoShipping.CoreBusiness/obj/Debug/net9.0/PR.CargoShipping.CoreBusiness.assets.cache
/PR.CargoShipping.WinForms/PR.CargoShipping.CoreBusiness/obj/Debug/net9.0/PR.CargoShipping.CoreBusiness.csproj.CoreCompileInputs.cache
/PR.CargoShipping.WinForms/PR.CargoShipping.CoreBusiness/obj/Debug/net9.0/PR.CargoShipping.CoreBusiness.csproj.FileListAbsolute.txt
/PR.CargoShipping.WinForms/PR.CargoShipping.CoreBusiness/obj/Debug/net9.0/PR.CargoShipping.CoreBusiness.dll
/PR.CargoShipping.WinForms/PR.CargoShipping.CoreBusiness/obj/Debug/net9.0/PR.CargoShipping.CoreBusiness.GeneratedMSBuildEditorConfig.editorconfig
/PR.CargoShipping.WinForms/PR.CargoShipping.CoreBusiness/obj/Debug/net9.0/PR.CargoShipping.CoreBusiness.GlobalUsings.g.cs
/PR.CargoShipping.WinForms/PR.CargoShipping.CoreBusiness/obj/Debug/net9.0/PR.CargoShipping.CoreBusiness.pdb
/PR.CargoShipping.WinForms/PR.CargoShipping.CoreBusiness/obj/Debug/net9.0/ref/PR.CargoShipping.CoreBusiness.dll
/PR.CargoShipping.WinForms/PR.CargoShipping.CoreBusiness/obj/Debug/net9.0/refint/PR.CargoShipping.CoreBusiness.dll
/PR.CargoShipping.WinForms/PR.CargoShipping.CoreBusiness/obj/PR.CargoShipping.CoreBusiness.csproj.nuget.dgspec.json
/PR.CargoShipping.WinForms/PR.CargoShipping.CoreBusiness/obj/PR.CargoShipping.CoreBusiness.csproj.nuget.g.props
/PR.CargoShipping.WinForms/PR.CargoShipping.CoreBusiness/obj/PR.CargoShipping.CoreBusiness.csproj.nuget.g.targets
/PR.CargoShipping.WinForms/PR.CargoShipping.CoreBusiness/obj/project.assets.json
/PR.CargoShipping.WinForms/PR.CargoShipping.CoreBusiness/obj/project.nuget.cache
/PR.CargoShipping.WinForms/PR.CargoShipping.Plugins.Repository.ADONET/bin/Debug/net9.0/PR.CargoShipping.CoreBusiness.dll
/PR.CargoShipping.WinForms/PR.CargoShipping.Plugins.Repository.ADONET/bin/Debug/net9.0/PR.CargoShipping.CoreBusiness.pdb
/PR.CargoShipping.WinForms/PR.CargoShipping.Plugins.Repository.ADONET/bin/Debug/net9.0/PR.CargoShipping.Plugins.Repository.ADONET.deps.json
/PR.CargoShipping.WinForms/PR.CargoShipping.Plugins.Repository.ADONET/bin/Debug/net9.0/PR.CargoShipping.Plugins.Repository.ADONET.dll
/PR.CargoShipping.WinForms/PR.CargoShipping.Plugins.Repository.ADONET/bin/Debug/net9.0/PR.CargoShipping.Plugins.Repository.ADONET.pdb
/PR.CargoShipping.WinForms/PR.CargoShipping.Plugins.Repository.ADONET/bin/Debug/net9.0/PR.CargoShipping.UseCases.dll
/PR.CargoShipping.WinForms/PR.CargoShipping.Plugins.Repository.ADONET/bin/Debug/net9.0/PR.CargoShipping.UseCases.pdb
/PR.CargoShipping.WinForms/PR.CargoShipping.Plugins.Repository.ADONET/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
/PR.CargoShipping.WinForms/PR.CargoShipping.Plugins.Repository.ADONET/obj/Debug/net9.0/PR.Cargo.0EB79521.Up2Date
/PR.CargoShipping.WinForms/PR.CargoShipping.Plugins.Repository.ADONET/obj/Debug/net9.0/PR.CargoShipping.Plugins.Repository.ADONET.AssemblyInfo.cs
/PR.CargoShipping.WinForms/PR.CargoShipping.Plugins.Repository.ADONET/obj/Debug/net9.0/PR.CargoShipping.Plugins.Repository.ADONET.AssemblyInfoInputs.cache
/PR.CargoShipping.WinForms/PR.CargoShipping.Plugins.Repository.ADONET/obj/Debug/net9.0/PR.CargoShipping.Plugins.Repository.ADONET.assets.cache
/PR.CargoShipping.WinForms/PR.CargoShipping.Plugins.Repository.ADONET/obj/Debug/net9.0/PR.CargoShipping.Plugins.Repository.ADONET.csproj.AssemblyReference.cache
/PR.CargoShipping.WinForms/PR.CargoShipping.Plugins.Repository.ADONET/obj/Debug/net9.0/PR.CargoShipping.Plugins.Repository.ADONET.csproj.CoreCompileInputs.cache
/PR.CargoShipping.WinForms/PR.CargoShipping.Plugins.Repository.ADONET/obj/Debug/net9.0/PR.CargoShipping.Plugins.Repository.ADONET.csproj.FileListAbsolute.txt
/PR.CargoShipping.WinForms/PR.CargoShipping.Plugins.Repository.ADONET/obj/Debug/net9.0/PR.CargoShipping.Plugins.Repository.ADONET.dll
/PR.CargoShipping.WinForms/PR.CargoShipping.Plugins.Repository.ADONET/obj/Debug/net9.0/PR.CargoShipping.Plugins.Repository.ADONET.GeneratedMSBuildEditorConfig.editorconfig
/PR.CargoShipping.WinForms/PR.CargoShipping.Plugins.Repository.ADONET/obj/Debug/net9.0/PR.CargoShipping.Plugins.Repository.ADONET.GlobalUsings.g.cs
/PR.CargoShipping.WinForms/PR.CargoShipping.Plugins.Repository.ADONET/obj/Debug/net9.0/PR.CargoShipping.Plugins.Repository.ADONET.pdb
/PR.CargoShipping.WinForms/PR.CargoShipping.Plugins.Repository.ADONET/obj/Debug/net9.0/ref/PR.CargoShipping.Plugins.Repository.ADONET.dll
/PR.CargoShipping.WinForms/PR.CargoShipping.Plugins.Repository.ADONET/obj/Debug/net9.0/refint/PR.CargoShipping.Plugins.Repository.ADONET.dll
/PR.CargoShipping.WinForms/PR.CargoShipping.Plugins.Repository.ADONET/obj/PR.CargoShipping.Plugins.Repository.ADONET.csproj.nuget.dgspec.json
/PR.CargoShipping.WinForms/PR.CargoShipping.Plugins.Repository.ADONET/obj/PR.CargoShipping.Plugins.Repository.ADONET.csproj.nuget.g.props
/PR.CargoShipping.WinForms/PR.CargoShipping.Plugins.Repository.ADONET/obj/PR.CargoShipping.Plugins.Repository.ADONET.csproj.nuget.g.targets
/PR.CargoShipping.WinForms/PR.CargoShipping.Plugins.Repository.ADONET/obj/project.assets.json
/PR.CargoShipping.WinForms/PR.CargoShipping.Plugins.Repository.ADONET/obj/project.nuget.cache
/PR.CargoShipping.WinForms/PR.CargoShipping.Plugins.Repository.ADONET/PortRepository.cs
/PR.CargoShipping.WinForms/PR.CargoShipping.Plugins.Repository.ADONET/PR.CargoShipping.Plugins.Repository.ADONET.csproj
/PR.CargoShipping.WinForms/PR.CargoShipping.Plugins.Repository.ADONET/SQLHelper.cs
/PR.CargoShipping.WinForms/PR.CargoShipping.Plugins.Repository.ADONET/TripSegmentRepository.cs
/PR.CargoShipping.WinForms/PR.CargoShipping.UseCases/bin/Debug/net9.0/PR.CargoShipping.CoreBusiness.dll
/PR.CargoShipping.WinForms/PR.CargoShipping.UseCases/bin/Debug/net9.0/PR.CargoShipping.CoreBusiness.pdb
/PR.CargoShipping.WinForms/PR.CargoShipping.UseCases/bin/Debug/net9.0/PR.CargoShipping.UseCases.deps.json
/PR.CargoShipping.WinForms/PR.CargoShipping.UseCases/bin/Debug/net9.0/PR.CargoShipping.UseCases.dll
/PR.CargoShipping.WinForms/PR.CargoShipping.UseCases/bin/Debug/net9.0/PR.CargoShipping.UseCases.pdb
/PR.CargoShipping.WinForms/PR.CargoShipping.UseCases/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
/PR.CargoShipping.WinForms/PR.CargoShipping.UseCases/obj/Debug/net9.0/PR.Cargo.6E1C465C.Up2Date
/PR.CargoShipping.WinForms/PR.CargoShipping.UseCases/obj/Debug/net9.0/PR.CargoShipping.UseCases.AssemblyInfo.cs
/PR.CargoShipping.WinForms/PR.CargoShipping.UseCases/obj/Debug/net9.0/PR.CargoShipping.UseCases.AssemblyInfoInputs.cache
/PR.CargoShipping.WinForms/PR.CargoShipping.UseCases/obj/Debug/net9.0/PR.CargoShipping.UseCases.assets.cache
/PR.CargoShipping.WinForms/PR.CargoShipping.UseCases/obj/Debug/net9.0/PR.CargoShipping.UseCases.csproj.AssemblyReference.cache
/PR.CargoShipping.WinForms/PR.CargoShipping.UseCases/obj/Debug/net9.0/PR.CargoShipping.UseCases.csproj.CoreCompileInputs.cache
/PR.CargoShipping.WinForms/PR.CargoShipping.UseCases/obj/Debug/net9.0/PR.CargoShipping.UseCases.csproj.FileListAbsolute.txt
/PR.CargoShipping.WinForms/PR.CargoShipping.UseCases/obj/Debug/net9.0/PR.CargoShipping.UseCases.dll
/PR.CargoShipping.WinForms/PR.CargoShipping.UseCases/obj/Debug/net9.0/PR.CargoShipping.UseCases.GeneratedMSBuildEditorConfig.editorconfig
/PR.CargoShipping.WinForms/PR.CargoShipping.UseCases/obj/Debug/net9.0/PR.CargoShipping.UseCases.GlobalUsings.g.cs
/PR.CargoShipping.WinForms/PR.CargoShipping.UseCases/obj/Debug/net9.0/PR.CargoShipping.UseCases.pdb
/PR.CargoShipping.WinForms/PR.CargoShipping.UseCases/obj/Debug/net9.0/ref/PR.CargoShipping.UseCases.dll
/PR.CargoShipping.WinForms/PR.CargoShipping.UseCases/obj/Debug/net9.0/refint/PR.CargoShipping.UseCases.dll
/PR.CargoShipping.WinForms/PR.CargoShipping.UseCases/obj/PR.CargoShipping.UseCases.csproj.nuget.dgspec.json
/PR.CargoShipping.WinForms/PR.CargoShipping.UseCases/obj/PR.CargoShipping.UseCases.csproj.nuget.g.props
/PR.CargoShipping.WinForms/PR.CargoShipping.UseCases/obj/PR.CargoShipping.UseCases.csproj.nuget.g.targets
/PR.CargoShipping.WinForms/PR.CargoShipping.UseCases/obj/project.assets.json
/PR.CargoShipping.WinForms/PR.CargoShipping.UseCases/obj/project.nuget.cache
/PR.CargoShipping.WinForms/PR.CargoShipping.WinForms/bin/Debug/net9.0-windows/Microsoft.Extensions.DependencyInjection.Abstractions.dll
/PR.CargoShipping.WinForms/PR.CargoShipping.WinForms/bin/Debug/net9.0-windows/Microsoft.Extensions.DependencyInjection.dll
/PR.CargoShipping.WinForms/PR.CargoShipping.WinForms/bin/Debug/net9.0-windows/PR.CargoShipping.CoreBusiness.dll
/PR.CargoShipping.WinForms/PR.CargoShipping.WinForms/bin/Debug/net9.0-windows/PR.CargoShipping.CoreBusiness.pdb
/PR.CargoShipping.WinForms/PR.CargoShipping.WinForms/bin/Debug/net9.0-windows/PR.CargoShipping.Plugins.Repository.ADONET.dll
/PR.CargoShipping.WinForms/PR.CargoShipping.WinForms/bin/Debug/net9.0-windows/PR.CargoShipping.Plugins.Repository.ADONET.pdb
/PR.CargoShipping.WinForms/PR.CargoShipping.WinForms/bin/Debug/net9.0-windows/PR.CargoShipping.UseCases.dll
/PR.CargoShipping.WinForms/PR.CargoShipping.WinForms/bin/Debug/net9.0-windows/PR.CargoShipping.UseCases.pdb
/PR.CargoShipping.WinForms/PR.CargoShipping.WinForms/bin/Debug/net9.0-windows/PR.CargoShipping.WinForms.deps.json
/PR.CargoShipping.WinForms/PR.CargoShipping.WinForms/bin/Debug/net9.0-windows/PR.CargoShipping.WinForms.dll
/PR.CargoShipping.WinForms/PR.CargoShipping.WinForms/bin/Debug/net9.0-windows/PR.CargoShipping.WinForms.exe
/PR.CargoShipping.WinForms/PR.CargoShipping.WinForms/bin/Debug/net9.0-windows/PR.CargoShipping.WinForms.pdb
/PR.CargoShipping.WinForms/PR.CargoShipping.WinForms/bin/Debug/net9.0-windows/PR.CargoShipping.WinForms.runtimeconfig.json
/PR.CargoShipping.WinForms/PR.CargoShipping.WinForms/bin/Debug/net9.0-windows/runtimes/unix/lib/net8.0/System.Data.SqlClient.dll
/PR.CargoShipping.WinForms/PR.CargoShipping.WinForms/bin/Debug/net9.0-windows/runtimes/win/lib/net8.0/System.Data.SqlClient.dll
/PR.CargoShipping.WinForms/PR.CargoShipping.WinForms/bin/Debug/net9.0-windows/runtimes/win-arm64/native/sni.dll
/PR.CargoShipping.WinForms/PR.CargoShipping.WinForms/bin/Debug/net9.0-windows/runtimes/win-x64/native/sni.dll
/PR.CargoShipping.WinForms/PR.CargoShipping.WinForms/bin/Debug/net9.0-windows/runtimes/win-x86/native/sni.dll
/PR.CargoShipping.WinForms/PR.CargoShipping.WinForms/bin/Debug/net9.0-windows/System.Data.SqlClient.dll
/PR.CargoShipping.WinForms/PR.CargoShipping.WinForms/obj/Debug/net9.0-windows/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
/PR.CargoShipping.WinForms/PR.CargoShipping.WinForms/obj/Debug/net9.0-windows/apphost.exe
/PR.CargoShipping.WinForms/PR.CargoShipping.WinForms/obj/Debug/net9.0-windows/PR.Cargo.6C32BB71.Up2Date
/PR.CargoShipping.WinForms/PR.CargoShipping.WinForms/obj/Debug/net9.0-windows/PR.CargoShipping.WinForms.AssemblyInfo.cs
/PR.CargoShipping.WinForms/PR.CargoShipping.WinForms/obj/Debug/net9.0-windows/PR.CargoShipping.WinForms.AssemblyInfoInputs.cache
/PR.CargoShipping.WinForms/PR.CargoShipping.WinForms/obj/Debug/net9.0-windows/PR.CargoShipping.WinForms.assets.cache
/PR.CargoShipping.WinForms/PR.CargoShipping.WinForms/obj/Debug/net9.0-windows/PR.CargoShipping.WinForms.csproj.AssemblyReference.cache
/PR.CargoShipping.WinForms/PR.CargoShipping.WinForms/obj/Debug/net9.0-windows/PR.CargoShipping.WinForms.csproj.CoreCompileInputs.cache
/PR.CargoShipping.WinForms/PR.CargoShipping.WinForms/obj/Debug/net9.0-windows/PR.CargoShipping.WinForms.csproj.FileListAbsolute.txt
/PR.CargoShipping.WinForms/PR.CargoShipping.WinForms/obj/Debug/net9.0-windows/PR.CargoShipping.WinForms.csproj.GenerateResource.cache
/PR.CargoShipping.WinForms/PR.CargoShipping.WinForms/obj/Debug/net9.0-windows/PR.CargoShipping.WinForms.designer.deps.json
/PR.CargoShipping.WinForms/PR.CargoShipping.WinForms/obj/Debug/net9.0-windows/PR.CargoShipping.WinForms.designer.runtimeconfig.json
/PR.CargoShipping.WinForms/PR.CargoShipping.WinForms/obj/Debug/net9.0-windows/PR.CargoShipping.WinForms.dll
/PR.CargoShipping.WinForms/PR.CargoShipping.WinForms/obj/Debug/net9.0-windows/PR.CargoShipping.WinForms.frmTrips.resources
/PR.CargoShipping.WinForms/PR.CargoShipping.WinForms/obj/Debug/net9.0-windows/PR.CargoShipping.WinForms.GeneratedMSBuildEditorConfig.editorconfig
/PR.CargoShipping.WinForms/PR.CargoShipping.WinForms/obj/Debug/net9.0-windows/PR.CargoShipping.WinForms.genruntimeconfig.cache
/PR.CargoShipping.WinForms/PR.CargoShipping.WinForms/obj/Debug/net9.0-windows/PR.CargoShipping.WinForms.GlobalUsings.g.cs
/PR.CargoShipping.WinForms/PR.CargoShipping.WinForms/obj/Debug/net9.0-windows/PR.CargoShipping.WinForms.pdb
/PR.CargoShipping.WinForms/PR.CargoShipping.WinForms/obj/Debug/net9.0-windows/PR.CargoShipping.WinForms.Resource.resources
/PR.CargoShipping.WinForms/PR.CargoShipping.WinForms/obj/Debug/net9.0-windows/ref/PR.CargoShipping.WinForms.dll
/PR.CargoShipping.WinForms/PR.CargoShipping.WinForms/obj/Debug/net9.0-windows/refint/PR.CargoShipping.WinForms.dll
/PR.CargoShipping.WinForms/PR.CargoShipping.WinForms/obj/PR.CargoShipping.WinForms.csproj.nuget.dgspec.json
/PR.CargoShipping.WinForms/PR.CargoShipping.WinForms/obj/PR.CargoShipping.WinForms.csproj.nuget.g.props
/PR.CargoShipping.WinForms/PR.CargoShipping.WinForms/obj/PR.CargoShipping.WinForms.csproj.nuget.g.targets
/PR.CargoShipping.WinForms/PR.CargoShipping.WinForms/obj/project.assets.json
/PR.CargoShipping.WinForms/PR.CargoShipping.WinForms/obj/project.nuget.cache
/PR.CargoShipping.WinForms/.vs/PR.CargoShipping.WinForms/FileContentIndex/02630689-8269-457d-968a-363bbd18e0bd.vsidx
/PR.CargoShipping.WinForms/.vs/PR.CargoShipping.WinForms/FileContentIndex/c846ead0-a48c-4b23-b188-227ecc1301ea.vsidx
/PR.CargoShipping.WinForms/.vs/PR.CargoShipping.WinForms/FileContentIndex/c87981e2-e878-4336-850d-c0115a6e0506.vsidx
/PR.CargoShipping.WinForms/PR.CargoShipping.Plugins.Repository.ADONET/obj/Debug/net9.0/PR.CargoShipping.Plugins.Repository.ADONET.csproj.BuildWithSkipAnalyzers
/PR.CargoShipping.WinForms/PR.CargoShipping.Plugins.Repository.ADONET/obj/Debug/net9.0/PR.CargoShipping.Plugins.Repository.ADONET.sourcelink.json
/PR.CargoShipping.WinForms/PR.CargoShipping.WinForms/obj/Debug/net9.0-windows/PR.CargoShipping.WinForms.csproj.BuildWithSkipAnalyzers
/PR.CargoShipping.WinForms/PR.CargoShipping.WinForms/obj/Debug/net9.0-windows/PR.CargoShipping.WinForms.sourcelink.json
